<h1>wiki新規投稿</h1>
<%= form_with model:@job, local: true do |f|%>
  <div class="field">
    <%= f.label :description, "コンテント"%><br /> 
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :active, "コンテント"%><br /> 
    <%= f.text_area :active %>
  </div>
  <div class="field">
    <%= f.label :flow, "コンテント"%><br /> 
    <%= f.text_area :flow %>
  </div>
  <div class="field">
    <%= f.label :become, "コンテント"%><br /> 
    <%= f.text_area :become %>
  </div>
  <div class="field">
    <%= f.label :qualification, "コンテント"%><br /> 
    <%= f.text_area :qualification %>
  </div>
  <div class="field">
    <%= f.label :salary, "コンテント"%><br /> 
    <%= f.text_area :salary %>
  </div>
  <div class="field">
    <%= f.label :rewarding, "コンテント"%><br /> 
    <%= f.text_area :rewarding %>
  </div>
  <div class="field">
    <%= f.label :busy, "コンテント"%><br /> 
    <%= f.text_area :busy %>
  </div>
  <div class="field">
    <%= f.label :correct, "コンテント"%><br /> 
    <%= f.text_area :correct %>
  </div>
  <div class="field">
    <%= f.label :aspiring, "コンテント"%><br /> 
    <%= f.text_area :aspiring %>
  </div>
  <div class="field">
    <%= f.label :status, "コンテント"%><br /> 
    <%= f.text_area :status %>
  </div>
  <div class="field">
    <%= f.label :demand, "コンテント"%><br /> 
    <%= f.text_area :demand %>
  </div>
  <div class="field">
    <%= f.label :future, "コンテント"%><br /> 
    <%= f.text_area :future %>
  </div>
<div>
<%= f.submit '送信', class: 'form-submit' %>
<%= f.hidden_field :category_id, value: @children.id %>
</div>
<%end%>