<%= @job.name %>wiki
<div>
<%= link_to '編集する',edit_job_path(@job.id)%>
</div>
<%= @job.content %>
<div class="job-text">
  <h3><%= @job.name %>の仕事内容</h3>
  <p>アリスは川辺でおねえさんのよこにすわって、なんにもすることがないのでとても退屈（たいくつ）しはじめていました。一、二回はおねえさんの読んでいる本をのぞいてみたけれど、そこには絵も会話もないのです。</p>
  <h3><%= @job.name %>の就職先・活躍の場</h3>
  <p>「絵や会話のない本なんて、なんの役にもたたないじゃないの」とアリスは思いました。そこでアリスは、頭のなかで、ひなぎくのくさりをつくったら楽しいだろうけれど、起きあがってひなぎくをつむのもめんどくさいし、どうしようかと考えていました（といっても、昼間で暑いし、とってもねむくて頭もまわらなかったので、これもたいへんだったのですが）。そこへいきなり、ピンクの目をした白うさぎが近くを走ってきたのです。それだけなら、そんなにめずらしいことでもありませんでした。さらにアリスとしては、そのうさぎが「どうしよう！　どうしよう！　ちこくしちゃうぞ！」とつぶやくのを聞いたときも、それがそんなにへんてこだとは思いませんでした（あとから考えてみたら、これも不思議に思うべきだったのですけれど、でもこのときには、それがごく自然なことに思えたのです）。でもそのうさぎがほんとうに、チョッキのポケットから懐中時計（かいちゅうどけい）をとりだしてそれをながめ、そしてまたあわててかけだしたとき、アリスもとびあがりました。</p>
  <h3><%= @job.name %>の１日の流れ</h3>
  <p>というのも、チョッキのポケットなんかがあるうさぎはこれまで見たことがないし、そこからとりだす時計をもっているうさぎなんかも見たことないぞ、というのに急に気がついたからです。そこで、興味（きょうみ）しんしんになったアリスは、うさぎのあとを追っかけて野原をよこぎって、それがしげみの下の、おっきなうさぎの穴にとびこむのを、ぎりぎりのところで見つけました。次のしゅんかんに、アリスもそのあとを追っかけてとびこみました。いったいぜんたいどうやってそこから出ようか、なんてことはちっとも考えなかったのです。</p>
  <h3><%= @job.name %>になるには</h3>
  <p>うさぎの穴は、しばらくはトンネルみたいにまっすぐつづいて、それからいきなりズドンと下におりていました。それがすごくいきなりで、アリスがとまろうとか思うひまもあればこそ、気がつくとなにやら深い井戸みたいなところを落っこちているところでした。井戸がとっても深かったのか、それともアリスの落ちかたがゆっくりだったのかもしれません。だってアリスは落ちながら、まわりを見まわして、これからどうなっちゃうんだろうと考えるだけの時間がたっぷりあったからです。まずは下をながめて、どこに向かおうとしているのかを見きわめようとしました。</p>
  <h3><%= @job.name %>に必要な資格・難易度</h3>
  <p>でも暗すぎてなにも見えません。それから井戸の横のかべを見てみました。するとそこは、食器だなと本だなだらけでした。あちこちに、地図や絵がとめ金に引っかけてあります。</p>
  <h3><%= @job.name %>の給料・年収</h3>
  <p>アリスは通りすがりに、たなの一つからびんを手にとってみました。「マーマレード」というラベルがはってあります。が、空っぽだったので、とてもがっかりしてしまいました。下にいる人を殺したくはなかったので、びんを落とすのはいやでした。だから落ちる通りすがりに、なんとか別の食器だなにそれを置きました。</p>
  <h3><%= @job.name %>のやりがい・楽しさ</h3>
  <p>アリスは思いました。「でもこんなに落ちたあとなら、もう階段をころげ落ちるなんて、なんとも思わないわよ！おうちじゃみんな、あたしがすごく勇敢（ゆうかん）だと思うでしょうね！　ええ、おうちのてっぺんから落っこちたって、もう一言も文句を言わないはずよ」（そりゃまあそのとおりでしょうけど）下へ、下へ、もっと下へ。このままいつまでもずっと落ちてくのでしょうか？　「いままでもう何マイルくらい落ちたんだろ」とアリスは声に出して言いました。「そろそろ地球のまん中くらいにきたはず。</p>
  <h3><%= @job.name %>の辛さ・大変さ</h3>
  <p>えーと、そうなると四千マイルくらい落ちたことになる、のかな――」（つまりね、アリスは教室の授業で、こんなようなことをいくつか勉強していたわけ。で、このときはまわりにだれもいなかったから、もの知りなのをひけらかすにはあまりつごうがよくはなかったんだけれど、でもこうして暗唱してみると、いいれんしゅうにはなったってこと）「――そうね、きょりはそんなもんね――でもそれだと、緯度（いど）や経度（けいど）はどこらへんにきたのかしら」（アリスは緯度（いど）や経度（けいど）ってのがなんなのか、まるっきり見当もついてなかったけれど、でも口にだすのにかっこいい、えらそうなことばだと思ったわけね）しばらくして、アリスはまたはじめました。「このまま地球をドンッとつきぬけて落ちちゃうのかな！　頭を下にして歩く人たちのなかに出てきたら、すっごくおかしく見えるでしょうね！　それってたとえば日本とかだとあるぜん人、だっけ――」（ここではだれも聞いてる人がいなくて、アリスはむしろホッとしたんだ。だってどう考えても正しいことばには聞こえなかったし）「――でも、国の</p>
  <h3><%= @job.name %>に向いている人</h3>
  <h3><%= @job.name %>の志望動機</h3>
  <h3><%= @job.name %>の雇用形態</h3>
  <h3><%= @job.name %>の需要・求人</h3>
  <h3><%= @job.name %>の現場と将来性</h3>
</div>