<div class="job-heading-index">
  <ul class="job-contents">
    <li class="content-name"><a href="#chapter1"><%= @job.name %>の仕事内容</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter2"><%= @job.name %>の就職先・活躍の場</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter3"><%= @job.name %>の１日の流れ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter4"><%= @job.name %>になるには</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter5"><%= @job.name %>に必要な資格・難易度</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter6"><%= @job.name %>の給料・年収</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter7"><%= @job.name %>のやりがい・楽しさ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter8"><%= @job.name %>の辛さ・大変さ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter9"><%= @job.name %>に向いている人</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter10"><%= @job.name %>の志望動機</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter11"><%= @job.name %>の雇用形態</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter12"><%= @job.name %>の需要・求人</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter13"><%= @job.name %>の現場と将来性</a></li>
    <div class="border"></div>
  </ul>
</div>