<div class="job-heading-index">
  <ul class="job-contents">
    <li class="content-name"><a href="#chapter1" class="name-color"><%= @category.name %>の仕事内容</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter2" class="name-color"><%= @category.name %>の就職先・活躍の場</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter3" class="name-color"><%= @category.name %>の１日の流れ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter4" class="name-color"><%= @category.name %>になるには</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter5" class="name-color"><%= @category.name %>に必要な資格・難易度</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter6" class="name-color"><%= @category.name %>の給料・年収</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter7" class="name-color"><%= @category.name %>のやりがい・楽しさ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter8" class="name-color"><%= @category.name %>の辛さ・大変さ</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter9" class="name-color"><%= @category.name %>に向いている人</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter10" class="name-color"><%= @category.name %>の志望動機</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter11" class="name-color"><%= @category.name %>の雇用形態</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter12" class="name-color"><%= @category.name %>の需要・求人</a></li>
    <div class="border"></div>
    <li class="content-name"><a href="#chapter13" class="name-color"><%= @category.name %>の現場と将来性</a></li>
    <div class="border"></div>
     <li class="content-name"><a href="#chapter14" class="name-color"><%= @category.name %>として働いている方</li>
    <div class="border"></div>

  </ul>
</div>