<header class="d-flex justify-content-between .border-brown header" >
  <h1><%= link_to "Job Wiki", root_path, class: :title %></h1>
  <ul class="nav">
    <% if user_signed_in?  %>
    <li class="menu-item"><%= link_to "チャットルーム一覧", new_user_session_path, class: 'd-inline-block p-10'  %></li>
    <li class="menu-item"><%= link_to "職業一覧", jobs_path, class: 'p-10 d-inline-block'  %></li>
    <li class="menu-item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'p-10 d-inline-block' %></li>
    <% else %>
    <li><%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, method: :post %></li>
    <li class="menu-item"><%= link_to "ログイン", new_user_session_path, class: 'd-inline-block p-10'  %></li>
    <li class="menu-item"><%= link_to "新規登録", new_user_registration_path, class: 'd-inline-block p-10'  %></li>
    <% end %>
  </ul>
</header>