<div class="join-member">
  <% @chats.each do |e| %>
  <span><%= e.user.name %>さん</span>
  <%end%>
  <span>がお話し中です</span>
</div>

<div class="overflow-scroll" id="list">
<!-- 自分のメッセージ -->
  <% @messages.each do |m| %>
  <% if m.user == current_user %>
    <tr class="row justify-content-center">
      <td class="col-2">
        <%# <img src="/images/enjoy.jpg" link="image" class="profile-image"> %>
      </td>
      <!-- メッセージを右側に表示する -->
      <td class="col-10">
        <div class="col-1 float-right">
          <%= m.user.name %> <br>
        </div>      
        <div class="says">
        <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
        <span><%= l m.created_at, format: :short %></span>
      </div>
      </td>
    </tr> 
<!-- 相手のメッセージ -->
  <%else%>     
    <tr class="row justify-content-center">
      <!-- メッセージを左側に表示する -->
      <td class="col-10">
        <div class="col-12 float-right">
          <%= m.user.name %> <br>
        </div>
        <div class="other-user-says">
          <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
          <span><%= l m.created_at, format: :short %></span>
        </div>
      </td>
       <td class="col-2">
        <%# <img src="/images/cow.jpg" link="image" class="profile-image"> %>
      </td>
    </tr>
  <% end %>
<% end %>
</div>


<div class="fixed-bottom">
  <%= form_with model:@message,method: :post,id: "form" do |f| %>
    <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" , class: 'chat-text',id: "content" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿する",id: "submit" %>
  <% end %>  
</div>